@page "/viewjobdetails/{JobOfferId:int}"

@using ElevPortalen.Models
@using ElevPortalen.Pages.AlertBox
@using ElevPortalen.Services;

@inject JobService _jobService
@inject IJSRuntime jsRuntime
@inject NavigationManager _navManager


<div class="container">

    @if (_job != null)
    {
        <!-- Row with padding top 5 -->
        <div class="row pt-5 therow">

            <!-- The left side of the jobdetails -->
            <div class="col-lg-8 bg-dark text-white rounded-2 shadow-sm p-5">
                <div class="d-flex align-items-center mb-5 rounded-2">
                    <div class="text-start">
                        <h3 class="mb-3 fw-bold">@_job.Title</h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-success me-2 fa-xl"></i>@_job.JobAddress</span>
                    </div>
                </div>
                <div class="mb-5 rounded-2 shadow-sm">
                    <h4 class="mb-3 fw-bold">Jobdetaljer</h4>
                    <p>@_job.JobDetails</p>
                </div>
            </div>

            <!-- The right side of the details -->
            <div class="col-lg-4 rightside">
                <!-- Box top -->
                <div class="bg-dark text-white rounded-2 shadow-sm p-4 mb-4">
                    <h4 class="mb-4 fw-bold">Joboversigt</h4>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2 text-success"></i>
                        Udgivet den: @_job.DateOfPublish.ToShortDateString()
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2 text-success"></i>
                        Ledige stilling: @_job.NumberOfPositionsAvailable
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2 text-success"></i>
                        Sted: @_job.JobAddress
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2 text-success"></i>
                        Deadline: @_job.Deadline.ToShortDateString()
                    </p>
                </div>

                <!-- Box bottom -->
                <div class="bg-dark text-white rounded-2 shadow-sm p-4">
                    <h4 class="mb-4 fw-bold">Virksomhedsdetaljer</h4>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2 text-success"></i>
                        Arbejdsgiver: @_job.CompanyName
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2 text-success"></i>
                        Adresse: @_job.JobAddress
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2 text-success"></i>
                        @_job.JobDetails
                    </p>
                    <p>
                        <i class="fa fa-angle-right text-primary me-2 text-success"></i>
                        <button class="btn btn-success btn-sm">Button 1</button>
                        <button class="btn btn-success btn-sm">Button 1</button>
                    </p>
                </div>

            </div>
            
        </div>

    }
    else
    {
        <p>Loading...</p>
    }

</div>
  


@code {
    [Parameter] public int JobOfferId { get; set; }

    private JobOfferModel? _job = new JobOfferModel();

    protected override async Task OnInitializedAsync()
    {
        _job = await _jobService.GetOfferWithJobId(JobOfferId);
    }


}
