@using ElevPortalen.Models;﻿
@using ElevPortalen.Services;

@inject StudentService _studentService

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@DisplayStyle">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body p-0">
                @if (!showErrorMessage)
                {
                    <div class="container-fluid d-flex p-0 align-content-center justify-content-center">
                        <div class="col-xl-12 col-md-12 col-sm-12">
                            <div class="card-header d-flex justify-content-center" style="background-color:black; color:white; height:55px;">Opdater Dine Oplysninger</div>
                                <div class="card-body b-0">
                                    <div class="row gx-3 mb-3 px-4">
                                        <div class="col-md-12">
                                            <label for="title" class="form-label">Title</label>
                                            <input id="title" class="form-control" @bind="@_studentToUpdate.Title" placeholder="Title" />
                                        </div>
                                    </div>
                                <div class="row gx-3 mb-3 px-4">
                                        <!-- Form Group -->
                                        <div class="col-md-4">
                                            <label for="firstname" class="form-label">Fornavn</label>
                                            <input id="firstname" type="text" @bind="@_studentToUpdate.FirstName" class="form-control" placeholder="Fornavn" />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="Dmiddlename" class="form-label">Mellemnavn</label>
                                            <input id="middlename" type="text" @bind="@_studentToUpdate.MiddleName" class="form-control" placeholder="Mellemnavn" />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="lastname" class="form-label">Efternavn</label>
                                            <input id="lastname" type="text" @bind="@_studentToUpdate.LastName" class="form-control" placeholder="Efternavn" />
                                        </div>
                                    </div>
                                    <!-- Form Group -->
                                <div class="row gx-3 mb-3 px-4">
                                        <div class="col-md-4">
                                            <label for="address" class="form-label">Adresse</label>
                                            <input id="address" type="text" @bind="@_studentToUpdate.Address" class="form-control" placeholder="Adresse" />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="Dregion" class="form-label">Din Region</label>
                                            <select id="region" class="form-select form-select-md" @bind="@_studentToUpdate.Speciality" aria-label="Region">
                                                <option value="" disabled selected>Vælg dit speciale</option>
                                                <option value="It-Supporter">It-Supporter</option>
                                                <option value="Infrastructure">Infrastruktur</option>
                                                <option value="Programmer">Programmør</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="phone" class="form-label">Mobile</label>
                                            <input id="phone" type="text" @bind="@_studentToUpdate.PhoneNumber" class="form-control" placeholder="Telefonnummer" />
                                        </div>
                                    </div>
                                    <!-- Form Group -->
                                <div class="row gx-3 mb-3 px-4">
                                        <div class="col-md-12">
                                            <label for="Description" class="form-label">Beskrivelse</label>
                                            <textarea class="form-control" @bind="_studentToUpdate.Description" id="_description" rows="16"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                }
                else
                {
                    <p>@_errorMessage</p>
                }
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-success" @onclick=@SubmitUpdate>Update</button>
                <button type="button" class="btn btn-danger" @onclick=@Close>Close</button>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code{
    [Parameter] public int StudentId { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }

    private StudentModel _studentToUpdate = new StudentModel();

    private string _errorMessage = "";
    private bool showErrorMessage = false;
    public string DisplayStyle = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    #region Handle validation submit (SubmitUpdate)
    private async Task SubmitUpdate()
    {
        try
        {
            await _studentService.Update(_studentToUpdate); //calling update from service
            await Close();

        }
        catch (Exception ex)
        {
            showErrorMessage = true;
            _errorMessage = $"An error occurred sucessfully - " + ex.Message;
        }
    }
    #endregion

    #region Open and close the modal Tasks
    public async Task Open(int Id)
    {
        DisplayStyle = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;

        StudentId = Id;
        _studentToUpdate = await _studentService.GetStudentById(StudentId);
    }

    public Task Close()
    {
        DisplayStyle = "none";
        ModalClass = "";
        ShowBackdrop = false;
        return OnClose.InvokeAsync(true);
    }
    #endregion

}