@page "/profile"
@*Lavet af Jozsef*@

@using ElevPortalen.Services;
@using ElevPortalen.Data;
@using ElevPortalen.Models;

@inject StudentService _studentService
@inject CompanyService _companyService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager
@inject IJSRuntime jsRuntime

<div class="container p-4">

    <!--Autorizeview for Student and Company -->
    <AuthorizeView Roles="Student,Company">
        <Authorized>
            @if (_studentList.Count >= 1)
            {
                @foreach (var data in _studentList)
                {
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-4" >
                                    <div class="card-body text-center">
                                        @if (data.profileImage != "")
                                        {
                                            <img src="images/ProfileImages/@data.profileImage" alt="avatar"
                                                 class="rounded-circle img-fluid" style="width: 150px;">
                                        }
                                        else
                                        {
                                            <img src="images/DefaultAvatar.jpg" alt="avatar"
                                                 class="rounded-circle img-fluid" style="width: 150px;">
                                        }
                                        <h5 class="my-3">@data.FirstName @data.LastName</h5>
                                        <p class="text-muted mb-1">Specialiseret i @data.Speciality</p>
                                        <p class="text-muted mb-4">@data.Address</p>
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="btn btn-outline-success"
                                                    @onclick="() => DialogModal?.OpenStudentUpdate(data.StudentId)">
                                                Update Profile
                                            </button>
                                            <button type="button" class="btn btn-outline-danger ms-1"
                                                    @onclick="() => DeleteStudentData(data.StudentId)" disabled="@(!isConfirmationChecked)">
                                                Delete Profile
                                            </button>
                                        </div>
                                        <div class="row-lg-4 gx-3 mb-3">
                                            <input class="form-check-input" type="checkbox" @bind="isConfirmationChecked">
                                            <label class="form-check-label">
                                                Confirm Delete
                                            </label>
                                        </div>
                                        <span style="color:red" hidden="@(!isConfirmationChecked)">
                                            Dette vil slette dine personale data og kan ikke fortrydes!
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Username</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@_Name</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">

                                            <div class="col-sm-3">
                                                <p class="mb-0">Fulde navn</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">
                                                    @data.FirstName <span> </span>
                                                    @if (data.MiddleName != "")
                                                    {
                                                        @data.MiddleName <span> </span>
                                                    }
                                                    @data.LastName
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Mobile</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@data.PhoneNumber</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Adresse</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@data.Address</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Beskrivelse</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@data.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            }
            else if (_companyList.Count >= 1)
            {
                @foreach (var data in _companyList)
                {

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-body text-center">
                                        @if (data.profileImage != "")
                                        {
                                            <img src="images/ProfileImages/@data.profileImage" alt="avatar"
                                                 class="rounded-circle img-fluid" style="width: 150px;">
                                        }
                                        else
                                        {
                                            <img src="images/DefaultAvatar.jpg" alt="avatar"
                                                 class="rounded-circle img-fluid" style="width: 150px;">
                                        }
                                        <h5 class="my-3">@data.CompanyName</h5>
                                        <p class="text-muted mb-4">@data.CompanyAddress</p>
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="btn btn-outline-success"
                                                    @onclick="() => DialogModal?.OpenCompanyUpdate(data.CompanyId)">
                                                Update Profile
                                            </button>
                                            <button type="button" class="btn btn-outline-danger ms-1"
                                                    @onclick="() => DeleteCompanyData(data.CompanyId)" disabled="@(!isConfirmationChecked)">
                                                Delete Profile
                                            </button>
                                        </div>
                                        <div class="row-lg-4 gx-3 mb-3">
                                            <input class="form-check-input" type="checkbox" @bind="isConfirmationChecked">
                                            <label class="form-check-label">
                                                Confirm Delete
                                            </label>
                                        </div>
                                        <span style="color:red" hidden="@(!isConfirmationChecked)">
                                            Dette vil slette dine personale data og kan ikke fortrydes!
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Dato for registrering</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">@data.RegisteredDate.ToString("dd, MMMM, yyyy")</p>
                                        </div>
                                    </div>
                                    <hr />
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Username</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@_Name</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Region</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">
                                                    @data.Region
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Email</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">
                                                    @data.Email
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Website</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">
                                                    <button class="btn btn-outline-info" @onclick="NavigateToNewTab">Open Link on new tab</button>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Phone</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@data.PhoneNumber</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Leder efter</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">
                                                    @data.Preferences
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Beskrivelse</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">@data.Description</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Søger Elev</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">
                                                    @if (data.IsHiring)
                                                    {
                                                        <span>Ja</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Nej</span>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Synlig profil</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">
                                                    @if (data.IsVisible)
                                                    {
                                                        <span>Ja</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Nej</span>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            }
            else
            {
                <p>
                    @if (_authState.User.IsInRole(Student))
                    {
                        Message = "It seems like no personal data have been added to your profile, click the button to register your data.";
                        @Message
                    }
                    else if (_authState.User.IsInRole(Company))
                    {
                        Message = "It seems like no data have been added to your Company profile, click the button to register your data.";
                        @Message
                    }
                    else
                    {
                        Message = "You have no Role assigned!";
                        @Message
                    }
                </p>
                <br>
                <button class="btn btn-success" @onclick="NavigateToRegister">Go Register Your Data</button>
            }

            <!-- DialogModal for update view -->
            <UpdateModalDialog @ref="DialogModal" StudentId="@StudentId" OnClose="ReRenderPage"></UpdateModalDialog>

        </Authorized>

        <!-- Not authorized view -->
        <NotAuthorized>
            Message = "Please login first.";
            <label>@Message</label>
        </NotAuthorized>

    </AuthorizeView>
</div>


@code {
    // private fields within the scope of the class
    private AuthenticationState? _authState;
    private List<StudentModel> _studentList = new List<StudentModel>();
    private List<CompanyModel> _companyList = new List<CompanyModel>();
    private UpdateModalDialog? DialogModal { get; set; }

    private bool isAuthenticated = false;
    private bool isConfirmationChecked = false;
    private string Company = "Company";
    private string Student = "Student";
    private string Message = "";
    private string _Name = "Default";
    private string _registeredDate = "";

    private string BackgroundColor = "rgba(50, 50, 50,0.8)";
    private string textColor = "white";

    // The StudentId 
    private int StudentId { get; set; }

    #region OnInitialize
    protected override async Task OnInitializedAsync()
    {
        // Getting the user current authentication state.
        _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (_authState != null)
        {
            if (_authState.User.Identity?.IsAuthenticated == true && _authState != null && _authState.User != null)
            {
                var _user = _authState.User;
                // If authenticated set the bool to true zhan read the users data from the data table with the help of ReadData function
                isAuthenticated = true;

                _Name = _user.Identity.Name.ToString();

                await ReadData();
            }
            else
            {
                isAuthenticated = false;
            }
        }
    }
    #endregion

    #region Reading the data from the database with the user claims
    public async Task ReadData()
    {
        if (_authState != null && _authState.User != null)
        {
            //Authenticating the user
            var _user = _authState.User;

            if (_authState.User.IsInRole(Student)) // If the role is Student
            {
                //Getting the data with the service call from student
                _studentList = await _studentService.ReadData(_user);
            }
            else if (_authState.User.IsInRole(Company)) // If the role is Company
            {
                //Getting the data with the service call from company
                _companyList = await _companyService.ReadData(_user);
            }
            else
            {
                Message = $"You Have No Role Assigned - Could not read data.";
            }
        }
    }
    #endregion

    #region navigation to register pages
    private void NavigateToRegister()
    {
        if (_authState != null && _authState.User != null)
        {
            // If the user signed in and have no data in its data table
            if (_authState.User.IsInRole(Company))  // If the user role is Company
            {
                NavManager.NavigateTo("/registercompany"); // Route to the company registration page
            }
            else if (_authState.User.IsInRole(Student)) // If the role is Student
            {
                NavManager.NavigateTo("/registerstudent"); // Route to the student registration page
            }
        }
    }
    #endregion

    #region outcommented functions
    // #region Navigate to update page
    // private void NavigateToUpdate(int studentId)
    // {
    //     NavManager.NavigateTo($"/updatestudent/{studentId}");
    // }
    // #endregion

    // #region Navigate to update company page
    // private void NavigateToUpdateCompany(int companyId)
    // {
    //     NavManager.NavigateTo($"/updatecompany/{companyId}");
    // }
    // #endregion
    #endregion

    #region Delete function calls for student and company
    private async Task DeleteStudentData(int id)
    {
        if (isConfirmationChecked)
        {
            await _studentService.Delete(id);
            NavManager.NavigateTo("/");
        }
    }

    private async Task DeleteCompanyData(int id)
    {
        if (isConfirmationChecked)
        {
            await _companyService.Delete(id);
            NavManager.NavigateTo("/");
        }
    }
    #endregion

    #region Re-RenderPage function for re-renderint the profile page on change
    private async void ReRenderPage()
    {
        await ReadData();
        StateHasChanged();
    }
    #endregion

    #region Navigate to company website Link with opening new window
    public async Task NavigateToNewTab()
    {
        string url = "https://" + _companyList[0].Link;
        await jsRuntime.InvokeVoidAsync("open", url, "_blank");
    }
    #endregion

}
