@page "/updatestudent/{StudentId:int}"

@using ElevPortalen.Services;
@using ElevPortalen.Data;
@using ElevPortalen.Models;

@inject StudentService _studentService
@inject NavigationManager NavManager

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger">
        @(_errorMessage)
    </div>
}

<EditForm Model="@_studentToUpdate" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <h3>UpdateStudentData</h3>

        <div class="row">
            <div class="mb-3 col-sm-4 col-md-4 col-lg-4">
                <input id="title" class="form-control" @bind="@_studentToUpdate.Title" placeholder="Title" />
            </div>
            <div class="mb-2 col-sm-12 col-md-6 col-lg-6">
                <input type="text" @bind="@_studentToUpdate.FirstName" class="form-control" placeholder="Fornavn" />
            </div>
            <div class="mb-2 col-sm-12 col-md-6 col-lg-6">
                <input type="text" @bind="@_studentToUpdate.MiddleName" class="form-control" placeholder="Mellemnavn" />
            </div>
            <div class="mb-2 col-sm-12 col-md-6 col-lg-6">
                <input type="text" @bind="@_studentToUpdate.LastName" class="form-control" placeholder="Efternavn" />
            </div>
            <div class="mb-2 col-sm-12 col-md-12 col-lg-12">
                <input type="text" @bind="@_studentToUpdate.Address" class="form-control" placeholder="Adresse" />
            </div>
            <div class="mb-2 col-sm-12 col-md-12 col-lg-12">
                <label for="Description" class="form-label">Beskrivelse</label>
                <input type="text" @bind="@_studentToUpdate.Description" class="form-control" rows="6">
            </div>
            <div class="mt-2 mb-2 col-sm-12 col-md-6 col-lg-6">
                <select class="form-select form-select-md" @bind="@_studentToUpdate.Speciality" aria-label="Region">
                    <option value="" disabled selected>Vælg dit speciale</option>
                    <option value="It-Supporter">It-Supporter</option>
                    <option value="Infrastructure">Infrastruktur</option>
                    <option value="Programmer">Programmør</option>
                </select>
            </div>
            <div class="mt-2 mb-2 col-sm-12 col-md-6 col-lg-6">
                <input type="text" @bind="@_studentToUpdate.PhoneNumber" class="form-control" placeholder="Telefonnummer" />
            </div>
        </div>

        <button type="submit" class="btn btn-outline-success">Update</button>
    </div>
   
</EditForm>

@code {
    [Parameter] public int StudentId { get; set; }
    private StudentModel _studentToUpdate = new StudentModel();
    private string _errorMessage;

    protected override async Task OnInitializedAsync()
    {
        _studentToUpdate = await _studentService.GetStudentById(StudentId);

        if (_studentToUpdate == null)
        {
            _errorMessage = "Student not found.";
        }
    }

    private async Task HandleValidSubmit()
    {
        var updateResult = await _studentService.Update(_studentToUpdate);
        NavManager.NavigateTo("/profile");
    }
}
