@page "/viewoffers"

@using ElevPortalen.Models
@using ElevPortalen.Services;

@inject JobService _jobService


<!--test code-->
<div class="container">
    @if (_jobList.Any())
    {
        foreach (var job in _jobList)
        {
            <div class="card mt-3 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">@job.Title</h3>
                    <h6 class="card-address mb-2 text-muted">@job.JobAddress</h6>
                    <div class="position-details">
                        <h4><a href="@job.JobLink" class="card-link">@job.Title med specielle i @job.Speciality</a></h4>
                        <div class="NumOfPositions badge bg-secondary">Antal ledige plads : @job.NumberOfPositionsAvailable</div>
                        <div class="specialization badge bg-secondary">@job.Speciality</div>
                        <div class="specialization badge bg-secondary">Ansøgningsfrist : @job.Deadline.ToShortDateString()</div>
                    </div>
@*                     <p class="card-text text-muted">Godkendt til flere specialer</p> *@
                </div>
            </div>
        }
    }
</div>


@code {
    private List<JobOfferModel> _jobList = new List<JobOfferModel>();

    #region Initialize
    protected override async Task OnInitializedAsync()
    {
        await GetAllJobOffers();
    }
    #endregion

    private async Task GetAllJobOffers()
    {
        _jobList = await _jobService.GetAllOffers();
    }


}
